/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */

.header {
	float: left;
	width:100%;
}
.logo {
	float: left;
}
.navigation {
	float: right;
}
.main-content {
	float: left;
	width: 100%;
}
/* hint! */

.post {
	float:left;
	width: 100%;
}
/* hint! */

.image {
	float: left;
}

.post_excerpt {
	float: right;

}
